  {% extends 'web/layout/base.html' %}
  {% load static %}
  {% block head %}
    <title>Get Industrial Equipment, Spare Parts, Materials & Repairs. Procure Hero</title>
    <meta content="Procurement in Equipment,Spare Parts,General Supplies,Materials, Repairs in Breakdown,Service,Overhaul,General" name="description">
    <meta content="air conditioning,boiler,compressor,pump,turbo charger, navigation equipment,diesel engine,steam turbine,hydraulic steering,separator,refrigeration,deck machinery,electrical equipment,instrumentation,automation,communication equipment,control system,auxiliary engine,caterpillar,ingersoll rand,alfa laval,cummins,yanmar,abb,man se,westfalia,saacke,sulzer,wartsila,ihi" name="keywords">
    <link rel="canonical" href="http://www.procurehero.com/" />
  {% endblock %}
  {% block content %} 
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Get equipment and repairs faster, cheaper and compliant</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Generate more value through better procurement for your business</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Submit Inquiry</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="{% static 'img/whyus/undraw_superhero_kguv.svg' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-4 col-6">
            <img src="{% static 'img/clients/1.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <img src="{% static 'img/clients/2.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <img src="{% static 'img/clients/3.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <img src="{% static 'img/clients/4.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <!-- <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static '/img/clients/client-5.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static '/img/clients/client-6.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div> -->

        </div>

      </div>
    </section>
    <!-- End Clients Section --> 
    <section id="about" class="services">
      <div class="container">
        <header class="section-header"> 
          <p>Services</p>
        </header>
        <div class="row"> 
          <div class="col-xl-12">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-lg-6  align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box iconbox-blue">
                    <!-- <div class="icon">
                      <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                      </svg>
                      <i class="bi bi-nut-fill"></i>
                    </div> -->
                    <h1>Procurement</h1>
                    <p>Equipment</p>
                    
                    <p>Spare Parts</p>
                    
                    <p>General Supplies</p>
                    
                    <p>Materials</p> <br>
                    <a class="btn-read-more" href="#about">Submit Inquiry</a>
                  </div>
                </div>

                <div class="col-lg-6  align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box iconbox-orange ">
                    <!-- <div class="icon">
                      <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                      </svg>
                      <i class="bi bi-wrench"></i>


                    </div> -->
                    <h1>Repairs</h1>
                    <p>Breakdown</p>
                    <p>Service</p>
                    <p>Overhaul</p>
                    <p>General</p><br>
                    <a class="btn-read-more" href="#about">Submit Inquiry</a>
                  </div>
                </div>
 
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>
    <!-- End Industries Section -->
 
    <!-- ======= HOwitswork Section ======= -->
    <section id="howitswork" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header"> 
          <p>Product</p>
        </header>
  

        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up"> 
 
            <div class="col-xl-6 d-flex content">
              <div class="row align-self-center gy-4">

                <div class="col-md-12 icon-box" data-aos="fade-up">
                  <i class="ri-send-plane-line"></i>
                  <div>
                    <h4>Submit Inquiry</h4>
                    <p>Send us your inquiry for equipment or repairs</p>
                  </div>
                </div>

                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-file-line"></i>
                  <div>
                    <h4>Get Quotation</h4>
                    <p>Receive the best quotation at the earliest</p>
                  </div>
                </div>

                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-check-circle"></i>
                  <div>
                    <h4>Confirm Order</h4>
                    <p>Confirm the order with our operations team</p>
                  </div>
                </div>

                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-box-seam"></i>
                  <div>
                    <h4>Receive Products</h4>
                    <p>Fulfillment begins instantly on your order</p>
                  </div>
                </div>

                

              </div>
            </div>

            
            <div class="col-xl-6 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static '/img/whyus/Howitworks.svg' %}" class="img-fluid p-4" alt="">
            </div>
 

        </div><!-- End Feature Icons -->

      </div>

    </section>
    <!-- End Howitswork Section -->

    <!-- ======= Details Section ======= -->
    <section id="whyus" class="details">
      <div class="container">
        <header class="section-header"> 
          <p>Features</p>
        </header>
        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static '/img/whyus/undraw_speed_test_wxl0.svg' %}" class="img-fluid" alt="" style="width: 326px;">
          </div> 
          <div class="col-md-7 pt-4" data-aos="fade-up">
            <h3>Fast Service</h3>
            <p class="whyusp">
              We are fast movers and have helped our clients reduce lead times upto 83% 
            </p>  
          </div>
        </div>
         
        <div class="row content">
          <div class="col-md-5 order-1 order-md-3" data-aos="fade-left">
            <img src="{% static '/img/whyus/undraw_discount_d-4-bd.svg' %}" class="img-fluid" alt="" style="width: 326px;">
          </div> 
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Competitive Prices</h3>
            <p class="whyusp">
              We pride ourselves in offering competitive rates that are upto 20% below market 
            </p>
             
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static '/img/whyus/undraw_security_on_re_e491.svg' %}" class="img-fluid" alt="" style="width: 326px;">
          </div> 
          <div class="col-md-7 pt-5" data-aos="fade-up">
            <h3>Technical Compliance</h3>
            <p class="whyusp">We have deep technical expertise and ensure compliance requirements are met</p>
              
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-3" data-aos="fade-left">
            <img src="{% static '/img/whyus/undraw_deliveries_-131-a.svg' %}" class="img-fluid" alt="" style="width: 326px;">
          </div> 
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Extensive Coverage</h3>
            <p class="whyusp">
              We support a wide range of products including the featured brands and categories 
            </p>  
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static '/img/whyus/undraw_the_world_is_mine_nb0e.svg' %}" class="img-fluid" alt="" style="width: 326px;">
          </div> 
          <div class="col-md-7 pt-5" data-aos="fade-up">
            <h3>Global Fulfillment</h3>
            <p class="whyusp">We are operational in a wide range of geographies including key locations listed</p>
              
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-3" data-aos="fade-left">
            <img src="{% static '/img/whyus/undraw_team_spirit_re_yl1v.svg' %}" class="img-fluid" alt="" style="width: 326px;">
          </div> 
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Dedicated Service</h3>
            <p class="whyusp">
              We are customer obsessed and always available to serve you as per your need
            </p>  
          </div>
        </div>

      </div>
    </section><!-- End Details Section -->
    

    <!-- ======= Categories Section ======= -->
    <section id="category" class="features">
      <div class="container">
        <header class="section-header"> 
          <p>Categories</p>
        </header>
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Diesel Engine</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Auxiliary Engine</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Steam Turbine</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Turbo Charger</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Compressor</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Separator</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Boiler</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Pump</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Control System & Automation</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Hydraulic Steering</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Deck Machinery</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Air Conditioning & Refrigeration</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Electrical Equipment</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Communication Equipment</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Navigation Equipment</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box-cat">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Instrumentation Equipment</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Category Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients_menufacturere" class="section-bg">
      <div class="container">
        <header class="section-header"> 
          <p>Manufacturers</p>
        </header>
        <div class="row no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/ABB.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/alfa-laval.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/caterpillar.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/cummins.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/gea-westfalia-separator.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/ihi-power-systems.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/ingersoll-rand.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/man-se.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/saacke.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/sulzer.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/wartsila.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static '/img/menufacture/yanmar.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->
     
    
    <!-- ======= Location Section ======= -->
    <section id="location" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header"> 
          <p>Locations</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>Ports in Europe</h3> 
              <ul>
                <li>Port of Rotterdam, Netherlands</li>
                <li>Port of Antwerp, Belgium</li>
                <li>Port of Hamburg, Germany</li>
                <li>Port of Algeciras, Spain</li>
                <li>Port of Piraeus, Greece</li>
                <li>Port of Ambarli, Turkey</li>
                <li>Port of Marseille-Fos, France</li>
                <li>Port of Novorossiysk, Russia</li>
                <li>Port of Southampton, UK</li>
                <li>Port of Gioia Tauro, Italy</li>
              </ul> 
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3>Ports in Asia</h3> 
              <ul>
                <li>Port of Dalian, China</li>
                <li>Port of Hong Kong, China</li>
                <li>Port of Singapore, Singapore</li>
                <li>Port of Nagoya, Japan</li> 
                <li>Port of Busan, South-Korea</li>
                <li>Port of Tanjung Priok, Indonesia</li>
                <li>Port Klang, Malaysia</li> 
                <li>Jawaharlal Nehru Port, India</li>
                <li>Hai Phong, Vietnam</li>
                <li>Port of Laem Chabang, Thailand</li> 
              </ul> 
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>Ports in Middle East</h3> 
              <ul>
                <li>Khalifa Port, UAE</li>
                <li>Port of Jebel Ali, UAE</li>
                <li>Port of Fujairah, UAE</li>
                <li>King Abdul Aziz Port, Saudi Arabia</li>
                <li>Jeddah Islamic Seaport, Saudi Arabia</li>
                <li>Shuwaikh Port, Kuwait</li>
                <li>Port of Salalah, Oman</li>
                <li>Mina Salman, Bahrain</li>
                <li>Port of Karachi, Pakistan</li>
                <li>Port Said, Egypt</li> 
              </ul> 
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Location Section -->

   

    <!-- ======= Industries Section ======= --> 
    <section id="industries" class="features">
      <div class="container">

        <header class="section-header"> 
          <p>Industries</p>
        </header>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box-cat" data-aos="zoom-in" data-aos-delay="50">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Oil & Gas</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box-cat" data-aos="zoom-in" data-aos-delay="100">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Marine</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="icon-box-cat" data-aos="zoom-in" data-aos-delay="50">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Energy</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box-cat" data-aos="zoom-in" data-aos-delay="100">
              <i class="-" style="color: #4154f1;"></i>
              <h3><a href="">Agriculture</a></h3>
            </div>
          </div>
           
        </div>

      </div>
    </section>
    <!-- End Menufacture Section -->
    <!-- End Industries Section -->

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <header class="section-header"> 
          <p>Contact Us</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>King Salman Bin Abdul Aziz Al Saud Street, Dubai, UAE</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>operations@procurehero.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+971 50 7409510</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock %}