{% extends 'admin/layout.html' %}
  {% load static %}  
  {% block content %} 
  
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Edit Buyer Inquiry</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/users/dashboard/">Home</a></li>
          <li class="breadcrumb-item active">Add Inquiry</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"> </h5>
  
                <!-- General Form Elements -->
                
                <form action="" method="post" role="form" id="add_buyer_inquiry"  enctype="multipart/form-data">
                    {% csrf_token %} 
                    
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Buyer Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="buyer_vendor_name" class="form-control" id="buyer_vendor_name" value=" ">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Company Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="company_name" id="company_name"  value=" ">
                        </div>
                    </div>
                    <div class="row mb-3">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                          <input type="email" class="form-control" name="emails" id="emails" multiple="multiple" data-role="tagsinput">
                      </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Phone No</label>
                        <div class="col-sm-10">
                            <input type="text" name="phone_no" class="form-control" id="phone_no" value=" ">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Alt Phone No</label>
                        <div class="col-sm-10">
                            <input type="text" name="alt_phone_no" class="form-control" id="alt_phone_no" value=" ">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Inquiry Type</label>
                        <div class="col-sm-10">
                            <select class="form-select" name="inquiry_type" aria-label="Default select example">
                                <option selected>Select Inquiry Type</option>
                                <option value="Equipment">Equipment</option>
                                <option value="Repair">Repair</option> 
                            </select>
                        </div>
                    </div> 
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="category" name="category" multiple="multiple" placeholder=" " data-role="tagsinput" id="category" >
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Manufacturer</label>
                        <div class="col-sm-10">
                            <input type="text" name="menufacture" id="menufacture" class="form-control" multiple="multiple" placeholder=" " data-role="tagsinput" id="manufacturer">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Model</label>
                        <div class="col-sm-10">
                            <input type="text" name="model" id="model" class="form-control" multiple="multiple" placeholder=" " data-role="tagsinput" id="model">
                        </div>
                      </div>  
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" name="location" class="form-control" id="location" value=" ">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Inquiry</label>
                        <div class="col-sm-10">
                            <textarea id="html" name="inquires" cols="100" rows="10" class="tinymce-editor form-control"></textarea>
                        </div>
                    </div>
                    <!-- <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="emails" id="emails" multiple="multiple" data-role="tagsinput">
                        </div>
                      </div> -->
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Attachment</label>
                        <div class="col-sm-10">
                            <div class="control-group" id="fields"> 
                                <div class="controls">
                                    <div class="entry input-group upload-input-group">
                                        <input class="form-control" name="file" type="file">
                                        <button class="btn btn-upload btn-success btn-add" type="button"  >
                                            <i class="bi bi-file-earmark-plus"></i>
                                        </button>
                                    </div>

                                </div>
                                 

                            </div>
                        </div>
                    </div>
  
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Submit Button</label>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                  </div> 
                </form><!-- End General Form Elements -->
                <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                  Successfully Update
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                    Somthing Wrong!!
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
            </div>
  
          </div>
   
        </div>
      </section>
 
 
      

  </main><!-- End #main -->
  {% endblock %}