{% extends 'admin/layout.html' %}
  {% load static %}  
  {% block content %} 
  
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Edit Buyer Inquiry</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/users/dashboard/">Home</a></li>
          <li class="breadcrumb-item active">Buyer Inquiry</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"> </h5>
  
                <!-- General Form Elements -->
                
                <form action="" method="post" role="form" id="update_inquiry_form"  enctype="multipart/form-data">
                    {% csrf_token %}
                {% for buyer_inquiry_view in buyer_inquiry_view %}
                    <input type="hidden" name="inquiry_id" class="form-control" id="inquiry_id" value={{buyer_inquiry_view.0}}>
                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label">Reference #</label>
                      <div class="col-sm-10">
                          <input type="text" name="reference_no" class="form-control" id="reference_no" value="{{buyer_inquiry_view.9}}">
                      </div>
                  </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Buyer Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="buyer_vendor_name" class="form-control" id="buyer_vendor_name" value="{{buyer_inquiry_view.1}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Company Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="company_name" id="company_name"  value="{{buyer_inquiry_view.2}}">
                        </div>
                    </div>
                   
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Email</th> 
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                {% for email in buyer_email %}
                                <tr>
                                  <td>{{email.1}}</td> 
                                  <td><a   data-id="{{ email.0 }}" data-email="{{ email.1 }}" class="vendor_edit_form" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="ri-edit-2-fill" aria-hidden="true"></i></a>
                                    <a data-id="{{ email.0 }}" class="delete_buyer_email"><i class="ri-delete-bin-2-line" aria-hidden="true"></i></a></td>
                                </tr>
                                {% endfor %}
                              </tr> 
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Add Email</label>
                        <div class="col-sm-10">
                          <a data-id="{{ buyer_inquiry_view.8 }}"  data-bs-toggle="modal" data-bs-target="#basicemailModal" class="btn btn-primary vendor_edit_form">Add</a>
                        </div>
                      </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Phone No</label>
                        <div class="col-sm-10">
                            <input type="text" name="phone_no" class="form-control" id="phone_no" value="{{buyer_inquiry_view.3}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Alt Phone No</label>
                        <div class="col-sm-10">
                            <input type="text" name="alt_phone_no" class="form-control" id="alt_phone_no" value="{{buyer_inquiry_view.4}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Inquiry Type</label>
                        <div class="col-sm-10">
                            <select class="form-select" name="inquiry_type" aria-label="Default select example">
                                <option selected>Select Inquiry Type</option>
                                <option value="Equipment" {% if buyer_inquiry_view.5|slugify == 'Equipment'|slugify %}selected{% endif %}>Equipment</option>
                                <option value="Repair" {% if buyer_inquiry_view.5|slugify == 'Repair'|slugify  %}selected{% endif %}>Repair</option> 
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Category</th> 
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                {% for category in buyer_category %}
                                <tr>
                                  <td>{{category.1}}</td> 
                                  <td><a   data-id="{{ category.0 }}" data-category="{{ category.1 }}" class="vendor_edit_category" data-bs-toggle="modal" data-bs-target="#basic_category"><i class="ri-edit-2-fill" aria-hidden="true"></i></a>
                                    <a data-id="{{ category.0 }}" class="delete_buyer_category"><i class="ri-delete-bin-2-line" aria-hidden="true"></i></a></td>
                                </tr>
                                {% endfor %}
                              </tr> 
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Add Category</label>
                        <div class="col-sm-10">
                          <a data-id="{{ buyer_inquiry_view.8 }}"  data-bs-toggle="modal" data-bs-target="#basic_buyer_add_category" class="btn btn-primary vendor_edit_category">Add</a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Manufacturer</label>
                        <div class="col-sm-10">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Menufacture</th> 
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                {% for menufacture in buyer_menufacture %}
                                <tr>
                                  <td>{{menufacture.1}}</td> 
                                  <td><a   data-id="{{ menufacture.0 }}" data-menufacture="{{ menufacture.1 }}" class="vendor_edit_menufacture" data-bs-toggle="modal" data-bs-target="#basic_menufacture"><i class="ri-edit-2-fill" aria-hidden="true"></i></a>
                                    <a data-id="{{ menufacture.0 }}" class="delete_buyer_menufacture"><i class="ri-delete-bin-2-line" aria-hidden="true"></i></a></td>
                                </tr>
                                {% endfor %}
                              </tr> 
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Add Manufacturer</label>
                        <div class="col-sm-10">
                          <a data-id="{{ buyer_inquiry_view.8 }}"  data-bs-toggle="modal" data-bs-target="#basic_add_menufacture" class="btn btn-primary vendor_edit_menufacture">Add</a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Model</label>
                        <div class="col-sm-10">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Model</th> 
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                {% for model in buyer_model %}
                                <tr>
                                  <td>{{model.1}}</td> 
                                  <td><a   data-id="{{ model.0 }}" data-model="{{ model.1 }}" class="vendor_edit_model" data-bs-toggle="modal" data-bs-target="#basic_model"><i class="ri-edit-2-fill" aria-hidden="true"></i></a>
                                    <a data-id="{{ model.0 }}" class="delete_buyer_model"><i class="ri-delete-bin-2-line" aria-hidden="true"></i></a></td>
                                </tr>
                                {% endfor %}
                              </tr> 
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Add Model</label>
                        <div class="col-sm-10">
                          <a data-id="{{ buyer_inquiry_view.8 }}"  data-bs-toggle="modal" data-bs-target="#basic_buyer_model" class="btn btn-primary vendor_edit_model">Add</a>
                        </div>
                      </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" name="location" class="form-control" id="location" value="{{ buyer_inquiry_view.7 }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Inquiry</label>
                        <div class="col-sm-10">
                            <textarea id="html" name="inquires" cols="100" rows="10" class="tinymce-editor form-control">{{ buyer_inquiry_view.6 | safe}}</textarea>
                        </div>
                    </div>
                  <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Send To</label>
                    <div class="col-sm-10">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Select</th>
                            <th scope="col">Email</th>
                            <th scope="col">Company Name</th> 
                          </tr>
                        </thead>
                        <tbody>
                          {% for sender_email_lists in sender_email_lists %}
                          <tr>
                            <td>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck{{ forloop.counter }}">
                                  <label class="custom-control-label" for="customCheck{{ forloop.counter }}">{{ forloop.counter }}</label>
                              </div>
                            </td>
                            <td>{{sender_email_lists.0}}</td>
                            <td>{{sender_email_lists.1}}</td> 
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                       
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Attachment</label>
                    <div class="col-sm-10">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Attachment</th> 
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            {% for buyer_attachment in buyer_attachment %}
                            <tr>
                              <td><a href="../../media/{{  buyer_attachment.1  }}" target="_new">{{  buyer_attachment.1  }}</a> </td> 
                              <td><a   data-id="{{ buyer_attachment.0 }}"  class="buyer_update_image_model" data-bs-toggle="modal" data-bs-target="#basic_update_image_model"><i class="ri-edit-2-fill" aria-hidden="true"></i></a>
                                <a data-id="{{ buyer_attachment.0 }}" class="delete_buyer_attachment"><i class="ri-delete-bin-2-line" aria-hidden="true"></i></a></td>
                            </tr>
                            {% endfor %}
                          </tr> 
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Add Attachment</label>
                    <div class="col-sm-10">
                      <a data-id="{{ buyer_inquiry_view.0 }}"  data-bs-toggle="modal" data-bs-target="#basic_add_image_model" class="btn btn-primary buyer_update_image_model">Add</a>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="status" aria-label="Default select example">
                            <option selected>Select Sttus</option>
                            <option value="1" {% if buyer_inquiry_view.10|slugify == '1'|slugify %}selected{% endif %}>Received</option>
                            <option value="2" {% if buyer_inquiry_view.10|slugify == '2'|slugify  %}selected{% endif %}>Sourcing</option> 
                            <option value="3" {% if buyer_inquiry_view.10|slugify == '3'|slugify  %}selected{% endif %}>Submitted</option> 
                            <option value="4" {% if buyer_inquiry_view.10|slugify == '4'|slugify  %}selected{% endif %}>Won</option> 
                            <option value="5" {% if buyer_inquiry_view.10|slugify == '5'|slugify  %}selected{% endif %}>Lost</option> 
                            <option value="6" {% if buyer_inquiry_view.10|slugify == '6'|slugify  %}selected{% endif %}>Close</option> 
                        </select>
                    </div>
                </div>
                   
  
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Submit Button</label>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                  </div>
                {% endfor %}
                </form><!-- End General Form Elements -->
                <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                  Successfully Update
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                    Somthing Wrong!!
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
            </div>
  
          </div>
   
        </div>
      </section>
 
      <!-- Email update POpup -->
      <div class="modal fade" id="basicModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Email</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Successfully Update
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-danger1 alert-dismissible fade show" role="alert">
                  Somthing Wrong!!
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form action="" method="post" role="form" id="my-form-email" enctype="multipart/form-data" >
                {% csrf_token %}  
                 <input type="hidden" name="id" class="pop_id" id="id" value=""> 
                     <div class="form-group">
                         <label class="control-label">Email</label>
                         <div>
                             <input type="email" class="form-control input-lg" id="email" name="email_list" value="">
                         </div>
                     </div> <br> 
                     <button type="submit" id="update_email" class="btn btn-primary">Update</button>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- End update POpup   Modal-->

      <!-- Email Add POpup -->
      <div class="modal fade" id="basicemailModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Email</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Successfully Update
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-danger1 alert-dismissible fade show" role="alert">
                  Somthing Wrong!!
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form action="" method="post" role="form" id="my-buyer-form-email" enctype="multipart/form-data" >
                {% csrf_token %}  
                 <input type="hidden" name="id" class="pop_id" id="id" value=""> 
                     <div class="form-group">
                         <label class="control-label">Email</label>
                         <div>
                             <input type="email" class="form-control input-lg" id="email" name="email_list" value="">
                         </div>
                     </div> <br> 
                     <button type="submit" id="update_email" class="btn btn-primary">Update</button>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- End Add POpup   Modal-->

      <!--  update Category POpup -->
      <div class="modal fade" id="basic_category" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Successfully Update
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-danger1 alert-dismissible fade show" role="alert">
                  Somthing Wrong!!
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form action="" method="post" role="form" id="my-form-buyer-cat" enctype="multipart/form-data" >
                {% csrf_token %}  
                 <input type="hidden" name="id" class="pop_id" id="id" value=""> 
                     <div class="form-group">
                         <label class="control-label">Category</label>
                         <div>
                             <input type="text" class="form-control input-lg" id="category" name="category" value="">
                         </div>
                     </div> <br> 
                     <button type="submit" id="update_email" class="btn btn-primary">Update</button>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- End update Category   Modal-->

      <!--  Add Category POpup -->
      <div class="modal fade" id="basic_buyer_add_category" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Successfully Update
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-danger1 alert-dismissible fade show" role="alert">
                  Somthing Wrong!!
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form action="" method="post" role="form" id="my-form-add-buyer-cat" enctype="multipart/form-data" >
                {% csrf_token %}  
                 <input type="hidden" name="id" class="pop_id" id="id" value=""> 
                     <div class="form-group">
                         <label class="control-label">Category</label>
                         <div>
                             <input type="text" class="form-control input-lg" id="category" name="category" value="">
                         </div>
                     </div> <br> 
                     <button type="submit" id="update_email" class="btn btn-primary">Update</button>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- End Add Category   Modal-->

      <!--  update Menufacture POpup -->
      <div class="modal fade" id="basic_menufacture" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Menufacture</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Successfully Update
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-danger1 alert-dismissible fade show" role="alert">
                  Somthing Wrong!!
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form action="" method="post" role="form" id="my-form-buyer-menufacture" enctype="multipart/form-data" >
                {% csrf_token %}  
                 <input type="hidden" name="id" class="pop_id" id="id" value=""> 
                     <div class="form-group">
                         <label class="control-label">Menufacture</label>
                         <div>
                             <input type="text" class="form-control input-lg" id="menufacture" name="menufacture_name" value="">
                         </div>
                     </div> <br> 
                     <button type="submit" id="update_email" class="btn btn-primary">Update</button>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- End update Menufacture   Modal-->

      <!--  Add Menufacture POpup -->
      <div class="modal fade" id="basic_add_menufacture" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Menufactures</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Successfully Update
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-danger1 alert-dismissible fade show" role="alert">
                  Somthing Wrong!!
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form action="" method="post" role="form" id="my-form-add-buyer-menufacture" enctype="multipart/form-data" >
                {% csrf_token %}  
                 <input type="hidden" name="id" class="pop_id" id="id" value=""> 
                     <div class="form-group">
                         <label class="control-label">Menufacture</label>
                         <div>
                             <input type="text" class="form-control input-lg" id="menufacture" name="menufacture_name" value="">
                         </div>
                     </div> <br> 
                     <button type="submit" id="update_email" class="btn btn-primary">Update</button>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- End update Menufacture   Modal-->

      <!--  update POpup -->
      <div class="modal fade" id="basic_model" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Model</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Successfully Update
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-danger1 alert-dismissible fade show" role="alert">
                  Somthing Wrong!!
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form action="" method="post" role="form" id="my-form-buyer-model" enctype="multipart/form-data" >
                {% csrf_token %}  
                 <input type="hidden" name="id" class="pop_id" id="id" value=""> 
                     <div class="form-group">
                         <label class="control-label">Model</label>
                         <div>
                             <input type="text" class="form-control input-lg" id="model" name="model_name" value="">
                         </div>
                     </div> <br> 
                     <button type="submit" id="update_email" class="btn btn-primary">Update</button>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- End update   Modal-->

      <!--  Add POpup -->
      <div class="modal fade" id="basic_buyer_model" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Model</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Successfully Update
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-danger1 alert-dismissible fade show" role="alert">
                  Somthing Wrong!!
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form action="" method="post" role="form" id="my-form-add-buyer-model" enctype="multipart/form-data" >
                {% csrf_token %}  
                 <input type="hidden" name="id" class="pop_id" id="id" value=""> 
                     <div class="form-group">
                         <label class="control-label">Model</label>
                         <div>
                             <input type="text" class="form-control input-lg" id="model" name="model_name" value="">
                         </div>
                     </div> <br> 
                     <button type="submit" id="update_email" class="btn btn-primary">Update</button>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- End update   Modal-->


      <!--  update POpup Image -->
      <div class="modal fade" id="basic_update_image_model" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Attachment</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Successfully Update
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-danger1 alert-dismissible fade show" role="alert">
                  Somthing Wrong!!
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form action="" method="post" role="form" id="my-form-update-buyer-attachment" enctype="multipart/form-data" >
                {% csrf_token %}  
                 <input type="hidden" name="id" class="pop_id" id="id" value=""> 
                     <div class="form-group">
                         <label class="control-label">Attachment</label>
                         <div>
                             <input type="file" class="form-control input-lg" id="model" name="file"  >
                         </div>
                     </div> <br> 
                     <button type="submit" id="update_attchmnet" class="btn btn-primary">Update</button>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- End update   Image-->

      <!-- Email Add image POpup -->
      <div class="modal fade" id="basic_add_image_model" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Attachmnet</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Successfully Update
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-danger1 alert-dismissible fade show" role="alert">
                  Somthing Wrong!!
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form action="" method="post" role="form" id="form_add_image_model" enctype="multipart/form-data" >
                {% csrf_token %}  
                 <input type="hidden" name="id" class="pop_id" id="id" value=""> 
                    <div class="form-group">
                      <label class="control-label">Attachment</label>
                      <div>
                          <input type="file" class="form-control input-lg" id="model" name="file"  >
                      </div>
                  </div> <br>
                     <button type="submit" id="update_email" class="btn btn-primary">Add</button>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- End Add POpup   Modal-->

  </main><!-- End #main -->
  {% endblock %}